* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #1d0000, #20205b);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    height: 140px;
    width: 180px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px #20205b;
}

.left,
.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.right {
    width: 42.5%;
    height: 100%;
    background-color: red;
    border-top-right-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
}

.left {
    width: 58%;
    height: 100%;
}

#date {
    font-size: 60px;
    font-weight: 600;
}

#month {
    font-weight: bold;
    margin-bottom: 5px;
}